@charset "UTF-8";
@font-face { 
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}   
/* 
#leftbar{
	width:310px;
	position:fixed;
	padding:30px;
	box-sizing:border-box;
	background-color:beige;
	height:100%;
}
#contents {
	padding:4% 5% 30% 5%;
   margin-left:310px;
} */
.post_header {
	width: 50%;
}
.itemReview_img {
	width: 100%;
	overflow-clip-margin: content-box;
	overflow: clip;
}
.itemReview_imgline {
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
}
.theView{
	position: relative;
	width: 120px;
	height: 120px;
	background: rgba(17,17,17,0.65);
    box-sizing: border-box;
}

.itemReview_ul {
	list-style: none;
	display: block;
	overflow: hidden;
}

.itemReview_li{
	display: inline-block;
	overflow: hidden;
}
.starR {
	background:
		url('http://miuu227.godohosting.com/images/icon/ico_review.png')
		no-repeat right 0;
	background-size: auto 100%;
	width: 15px;
	height: 15px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
}
/* 별점 css */
.starR.on {
	background-position: 0 0;
}

/* 5.하단부분 */
/* .footer {
    bottom: 0;	
    padding-top:3%;

}

.footerdiv {		
	text-align:center;
	width:100%;
	margin: 0 auto; 
} */

/*전체범위설정 footer내릴려고*/
html, body {
    height: 100%;
     font-family:'S-CoreDream-3Light';
}

.back{
	background-color:green;
	color:rad;
}

.page{
	text-align:center;
}

.itemSerch_img {
	width: 100%;
	overflow-clip-margin: content-box;
	overflow: clip;
}
.itemSerch_imgline {
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
}

.itmeinfo_img {
	width: 100%;
	overflow-clip-margin: content-box;
	overflow: clip;
}
.iteminfo_imgline{
	width: 300px;
	height: 360px; 
	margin:auto;
	overflow: hidden;
	padding: 1%;
	float: left;
}
.itmeinfo_ul {
	list-style: none;
	display: block;
	overflow: hidden;
}

.iteminfo_info {
	text-decoration: none;
	color: black;
	position: relative;
}


/*qnapost*/
.something{
	background-color:rgb(217, 217, 217)
}